<header class="h-12 border w-full flex justify-between">
    <div class="logo">
        <a class="site-header__logo-link text-lg font-bold" href="{{ routes.root_url }}">{{ shop.name }}</a>
    </div>
    <nav class="navigation border border-red-700">
      {% for link in linklists.main-menu.links %}
        <a href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}

    </nav>
    <div class="utilities">
      {% include 'icon-search' %}
      {% include 'icon-cart' %}
      <button class="block md:hidden">
        {% include 'icon-hamburger' %}
      </button>
        
    </div>


</header>

{% schema %}
  {
    "name": "header",
    "settings": []
  }
{% endschema %}
{% stylesheet %}

{% endstylesheet %}
{% javascript %}
    
{% endjavascript %}